.card {
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    padding: 20px;
    width: 25em;
    float: default;
    text-align: center;
    z-index: 1;
    margin: 1em auto;
    box-shadow: 10px 10px 5px #888888;
}

.card.title {
}

.card.blue {
  color: #fff;
}

.card.blue {
  background: #0C688A
}

.card.blue:hover {
  background: #08A2CC;
}
