<link rel="stylesheet" href="newMovies.css">
<div ng-controller="newMoviesController">

	<div id="serverErrorId" class="serverError" ng-show="showServerError">
		Une erreur est survenue pendant l'appel du serveur.<br/><br/>
    <button class="btn btn-default" onclick="location.reload(true); return false;">Actualiser</button><br/><br/>
	</div>

	<div ng-show="showMovies">
		<div class="jumbotron">
			<h1>Films de l'année 2016</h1>
		</div>
		<div class="row">
			<center>
				<div class="col-xs-6" ng-repeat="data in datas | limitTo:6">

          <div href="#" class="film">
            <h3>{{data.Title}}</h3>
            <div ng-if="data.Poster!='N/A'"><img ng-src="{{data.Poster}}"></div>
            <div ng-show="data.Poster=='N/A'"><img class="filter" ng-src="movie-placeholder.jpg"  ng-click="showFilmComments($index)"></div>
          </div>
          <button class="comment btn btn-default" ng-click="showFilmComments($index)" ng-hide="showComments[$index] || !isConnected()">Commentaires</button>

          <div ng-show="showComments[$index]">

            <button class="comment2 btn btn-default" ng-click="hideFilmComments($index)">Masquer</button>

            <form name="commentForm">
              <div class="form-group">
                <h2>Laissez votre commentaire !</h2>
              </div>
              <div class="form-group">
                <textarea type="text" class="form-control" placeholder="Your message..." ng-model="newComments[$index]"></textarea>
              </div>
              <button type="submit" class="btn btn-primary" ng-click="addComment($index)">Envoyer</button>
            </form>

            <hr>

            <div ng-repeat="comment in comments[$index] | orderBy: '-id'">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <b>{{comment.user.username}}</b> at {{comment.date_created}}
                </div>
                <div class="panel-body" ng-hide="showEditComment[$parent.$index][$index]">
                  {{comment.body}}
                </div>
                <div class="panel-body" ng-show="showEditComment[$parent.$index][$index]">
                  <form name="editCommentForm">
                    <div class="form-group">
                      <textarea type="text" class="form-control" ng-model="comment.body"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-click="modifyComment(comment); showEditCommentSection($parent.$index, $index)">Finish</button>
                  </form>
                </div>
                <div class="panel-footer" ng-show="myEmail == comment.user.username">
                  <span class="btn btn-default" ng-click="showEditCommentSection($parent.$index, $index)" style="font-size: large">✎</span>
                  <span class="btn btn-default" ng-click="deleteComment($parent.$index, comment)" style="font-size: large">⊗</span>
                </div>
              </div>
            </div>

          </div>

				</div>
			</center>
		</div>
	</div>
</div>
