<link rel="stylesheet" href="contact.css">

<div ng-controller="ContactCtrl">

  <div class="jumbotron">
    <h1>Contact</h1>
  </div>
  <hr>
  <br>

  <div class="container">
    <form novalidate class="form-horizontal" name="contactForm" ng-show="showContactForm">

      <div class="form-group">
        <label class="control-label col-xs-3">Nom de l'utilisateur</label>
        <div class="col-xs-4">
          <input class="form-control" type="text" name="username" placeholder="Nom d'utilisateur" ng-model="username" required ng-pattern="/[a-zA-Z -]+/" />
          <span ng-show="contactForm.username.$error.pattern && !contactForm.username.$error.required" style="color:red">Le nom d'utilisateur est non-valide.</span>
          <span ng-show="contactForm.username.$touched && contactForm.username.$error.required" style="color:red">Le nom d'utilisateur est requis.</span>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-xs-3">Raison du contact</label>
        <div class="col-xs-4">
          <select class="form-control" title="Choisir..." name="reason" required ng-model="reason">
            <option ng-repeat="element in dropdownElements">
              <div>{{element.reason}}</div>
            </option>
          </select>
          <span ng-show="contactForm.reason.$touched && contactForm.reason.$error.required" style="color:red">La raison est requise.</span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-3 control-label">Email</label>
        <div class="col-sm-6">
          <input class="form-control" type="email" name="email" placeholder="Email" required ng-model="email">
          <span ng-show="contactForm.email.$touched && contactForm.email.$error.required" style="color:red">Le email est requis.</span>
          <span ng-show="contactForm.email.$touched && contactForm.email.$error.email" style="color:red">Le email est non-valide.</span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-3 control-label">Message</label>
        <div class="col-sm-9">
          <textarea class="form-control" name="message" rows="5" placeholder="Votre message..." required ng-model="message" />
          <span ng-show="contactForm.message.$touched && contactForm.message.$error.required" style="color:red">Le message est requis.</span>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-offset-3 col-xs-10">
          <button class="btn btn-primary" type="submit" name="button" ng-click="submit()">Envoyer</button>
        </div>
      </div>

    </form>
  </div>

  <br>

  <div class="form-horizontal" ng-show="!showContactForm">
      <div class="form-group">
          <label class="control-label col-xs-3">Nom d'utilisateur</label>
          <div class="col-xs-9">
              {{username}}
          </div>
      </div>
      <div class="form-group">
          <label class="control-label col-xs-3">Raison</label>
          <div class="col-xs-9">
              {{reason}}
          </div>
      </div>
      <div class="form-group">
          <label class="control-label col-xs-3">Email</label>
          <div class="col-xs-9">
              {{email}}
          </div>
      </div>
      <div class="form-group">
          <label class="control-label col-xs-3">Message</label>
          <p class="col-xs-9">
              {{message}}
          </p>
      </div>
  </div>

</div>
