<center>
	<div class="col-xs-6" ng-repeat="data in datas">
		<div class="tile blue">
			<h3>{{data.Title}}</h5>
			<span ng-if="data.Poster!='N/A'"><img ng-src="{{data.Poster}}"/></span>
			<span ng-show="data.Poster=='N/A'"><img ng-src="movie-placeholder.jpg" /></span>
			<p>{{data.Year}}</p>
			<span ng-show="userConnected==true">
				<span ng-show="!data.isFavorite">
					<button ng-click="addFavorite($index)" class="btn btn-success">Ajouter aux favoris</button>
				</span>
				<!--<input type="checkbox" ng-model="data.isFavorite" ng-click="addFavorite($index)">Favoris<br/>-->
				<span ng-show="data.isFavorite">
					<button ng-click="deleteFavorite($index)" class="btn btn-default">Retirer des favoris</button>
					<br/>
					<input  type="checkbox" ng-model="data.isSelected" ng-click="addSelected($index)">Visionné
				</span>
			</span>
		</div>
	</div>
</center>
