<link rel="stylesheet" href="search.css">
<div ng-controller="searchController">
	<div class="jumbotron">
		<h1>Rechercher un film</h1>
	</div>
	<form class="form-horizontal">
		<div class="form-group">
			<div class="col-xs-6 col-xs-offset-3 input-group">
				<input class="form-control" ng-model="searchM" placeholder="Entrer un titre..." type="text" focus-me="true"/>
				<div class="input-group-btn">
					<button id="submitButtonId" class="btn btn-default" type="submit" ng-click="submit()"><span class="glyphicon glyphicon-search"></span></button>
				</div>
			</div>
			<span class="col-xs-9 col-xs-offset-3" id="emptyErrorId" ng-show="showEmptyError" style="color:red">Vous devez entrer au moins deux lettre.</span>
		</div>
	</form>
	<br/>
	<br/>
	<span id="serverErrorId" ng-show="showServerError" style="color:red">Une erreur est survenue pendant l'appel du serveur.</span>
	<span id="noResultErrorId" ng-show="showNoResultError" style="color:red">Aucun résultat pour la requête spécifiée.</span>
	<div ng-show="showMovies">
		<h2 style="text-align:center">Nombre de films : {{totalResults}}</h2>
		<ng-include src="'components/favorites/favorites.tiles.html'"></ng-include>
	</div>
</div>
